{{ ansible_fqdn }} {
    root /srv/www/{{ ansible_fqdn }}/public
    import ../defaults.conf
    header / {
        X-XSS-Protection "1; mode=block"
        Content-Security-Policy "default-src 'self'"
        X-Content-Security-Policy "default-src 'self'"
        X-WebKit-CSP "default-src 'self'"
        Strict-Transport-Security "max-age=31536000; includeSubdomains; "
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "origin-when-cross-origin"
    }
}
