<!doctype html>
<meta charset=utf-8>
<title>{{ ansible_fqdn }}</title>
<style>
  body {
    align-items: center;
    background-color: tomato;
    color: gold;
    display: flex;
    font-family: sans-serif;
    min-height: 100vh;
    text-align: center;
  }

  h1 {
    width: 100vw;
  }
</style>
<h1>{{ ansible_fqdn }}</h1>
